<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    
</head>
<body>
        <header class="title">
            <h1>Sistema Solar</h1>
        </header>
        <div class="container">
            <header class="header">
                <h2>Información</h2>
            </header>
            <main class="content">
                <article class="article">
                    <h3>Definición</h3>
                    <p>
                        Es el sistema planetario que liga gravitacionalmente a un conjunto de objetos astronómicos que giran directa o indirectamente en una órbita alrededor de una única estrella conocida por el nombre de Sol. 
                    </p>
                </article> 
                <article class="article">
                    <h3>Componentes</h3>
                    <p>
                        De una forma jerárquica podemos estructurar los componentes del sistema solar de la siguiente forma:
                    </p>
                    <ul class="ul-item">
                        <li class="li-item"><span>Estrella:</span> <p>El Sol</p></li>
                        <li class="li-item"><span>Nueve Planetas:</span><p>Mercurio, Venus, Tierra, Marte, Júpiter, Saturno, Urano, Neptuno y Plutón</p></li>
                        <li class="li-item"><span>Satélites de los planetas:</span><p>Luna, Fobos, Calisto, Titán, Oberón, Tritón, entre cientos más</p></li>
                        <li class="li-item"><span>Asteroides</span></li>
                        <li class="li-item"><span>Cometas</span></li>
                    </ul>
                </article>
            </main>

            <aside class="sidebar">
                <div class="img-container">
                    <img src="/img/orbits.jpg" class="img-info" alt="">
                    <p>Órbitas </p>
                </div>
                <div class="img-container">
                    <img src="/img/moons.jpg" class="img-info" alt="">
                    <p>Lunas a escala</p>
                </div>
                <div class="img-container">
                    <img src="/img/asteroids.jpg" class="img-info" alt="">
                    <p>Asteroides y cométas</p>
                </div>
            </aside>
            <div class="footer">
            <div class="social">
            <a href="https://www.instagram.com/santiellena13/" class="icon-instagrem iconI"></a>
        </div>
        <p class="copy">&copy; Ellena Santiago 2021</p>
        </div>

</body>
</html>