<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navigation.css">
</head>
<body>
    <div class="slider-container">
            <img src="/img/planets.jpg" class="img-fluid slider" alt="Sistema Solar">
    </div>
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
                  <div class="container-fluid">
                    <a class="navbar-brand display-1" href="#">Sistema Solar</a>
                    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse" id="navbarNavDropdown" style="">
                      <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="/">Información</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/simulacion">En movimiento</a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="/tierra" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            La Tierra
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/tierra/geosfera">Geosfera</a></li>
                            <li><a class="dropdown-item" href="/tierra/atmosfera">Atmósfera</a></li>
                            <li><a class="dropdown-item" href="/tierra/hidrosfera">Hidrosfera</a></li>
                            <li><a class="dropdown-item" href="/tierra/simulacion">En movimiento</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </nav>
</body>
</html>