<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/earth.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
     <header class="title">
            <h1>La Tierra</h1>
        </header>
        <div class="container">
            <header class="header">
                <h2>Geosfera</h2>
            </header>
            <main class="content">
                <article class="article">
                    <h3>Cómo está formada...</h3>
                    <p>
                       La tierra está formada por 3 elementos físicos, la litósfera(elemento sólido), la hidrósfera(elemento gaseoso) y la atmosfera(elemento gaseoso).
                       En el interior de la tierra, se pueden distinguir 3 partes, o capas principales. Vistas si hiciesemos un corte transversal, lograríamos apreciar una corteza, un manto y un núcleo.
                    </p>
                </article> 
                <article class="article">
                    <h3>Cada una de sus partes...</h3>
                    <p>
                        En orden descendiente (de la superficie terrestre al nucleo de la tierra), se encuentran las siguientes partes:
                    </p>
                    <ul class="ul-item">
                        <li class="li-item"><span>Corteza:</span> <p>La corteza terrestre es la zona más externa de la estructura concéntrica de la geosfera, la parte sólida de la Tierra. Es comparativamente delgada, con un espesor que varía de 5 km, en el fondo oceánico, hasta 70 km en las zonas montañosas activas de los continentes.</p></li>
                        <li class="li-item"><span>Manto superior:</span><p>El manto superior de la Tierra comienza justo debajo de la corteza (alrededor de 10 kilómetros (6,2 mi) debajo de los océanos y alrededor de 35 kilómetros (21,7 mi) debajo de los continentes). </p></li>
                        <li class="li-item"><span>Manto:</span><p>El manto es una capa interna de los planetas terrestres o de algunos otros cuerpos planetarios rocosos, como la que se encuentran entre el núcleo, la capa más interna, y la corteza, la más externa. Está compuesto principalmente por silicatos. Para que se forme un manto, el cuerpo planetario debe ser suficientemente grande para haber pasado por el proceso de diferenciación planetaria en términos de densidad</p></li>
                        <li class="li-item"><span>Núcleo externo:</span><p>Es una capa líquida compuesta por hierro y níquel, situada entre el manto y el núcleo interno. Su límite superior es la discontinuidad de Gutenberg, situada a unos 2885 km de profundidad, mientras que su límite inferior es la discontinuidad de Lehmann, situada a unos 5155 km.</p></li>
                        <li class="li-item"><span>Núcleo interno:</span><p>Representa aproximadamente el 56% del volumen total de la Tierra, y es la región de 660 a 2900 km debajo de la superficie de la Tierra; entre la zona de transición y el núcleo externo.</p></li>
                    </ul>
                </article>
            </main>

            <aside class="sidebar">
                <div class="img-container">
                    <img src="/img/layers.jpg" class="img-info" alt="">
                    <p>Las 3 capas principales...</p>
                </div>
                <div class="img-container">
                    <img src="/img/mars.jpg" class="img-info" alt="">
                    <p>Planeta Marte por dentro...</p>
                </div>
                <div class="img-container">
                    <img src="/img/transversal.jpg" class="img-info" alt="">
                    <p>Corte transversal, planeta Tierra...</p>
                </div>
                <div class="img-container">
                    <img src="/img/comparison.jpg" class="img-info" alt="">
                    <p>Comparación interna de planetas...</p>
                </div>
                <div class="img-container">
                    <img src="/img/distance.jpg" class="img-info" alt="">
                    <p>Medidas de las distintas capas en la tierra... </p>
                </div>
            </aside>
            <div class="footer">
            <div class="social">
            <a href="https://www.instagram.com/santiellena13/" class="icon-instagrem iconI"></a>
        </div>
        <p class="copy">&copy; Ellena Santiago 2021</p>
        </div>

</body>
</html>