<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/earth.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
          <header class="title">
            <h1>La Tierra</h1>
        </header>
        <div class="container">
            <header class="header">
                <h2>Hidrosfera</h2>
            </header>
            <main class="content">
                <article class="article">
                    <h3>Definición</h3>
                    <p>
                       Es el sistema material constituido por el agua que se encuentra sobre la superficie de la tierra sólida y también parte de la que se encuentra bajo la superficie, en la corteza terrestre.
                       La hidrosfera incluye océanos, mares, ríos, lagos, agua subterránea, el hielo y la nieve.<br>
                       
                       La Tierra es el único planeta del sistema solar en el que está presente de manera permanente el agua líquida, que cubre aproximadamente tres cuartas partes de la superficie terrestre
                    </p>
                </article> 
                <article class="article">
                    <h3>Distribución del agua en la Tierra</h3>
                    <p>
                        El agua de la hidrosfera se reparte entre varios compartimentos que en orden de mayor a menor volumen son:
                    </p>
                    <ul class="ul-item">
                        <li class="li-item"><p>Los océanos, que cubren dos tercios de la superficie terrestre.</p></li>
                        <li class="li-item"><p>Los glaciares, que cubren parte de la superficie continental. Sobre todo los dos casquetes glaciares de Groenlandia y la Antártida, pero también glaciares de montaña y volcán, de menor extensión y espesor, en todas las latitudes.</p></li>
                        <li class="li-item"><p>Las banquisas, capas de hielo marino flotante de entre 1 y 20 metros de espesor.</p></li>
                        <li class="li-item"><p>La escorrentía superficial, un sistema muy dinámico formado por ríos y lagos.</p></li>
                        <li class="li-item"><p>El agua subterránea, que se encuentra embebida en rocas porosas de manera más o menos universal.</p></li>
                    </ul>
                </article>
            </main>

            <aside class="sidebar">
                <div class="img-container">
                    <img src="/img/ciclo-hidrologico.jpg" class="img-info" alt="">
                    <p>Ciclo del agua</p>
                </div>
                <div class="img-container">
                    <img src="/img/agua-de-la-tierra.jpg" class="img-info" alt="">
                    <p>Agua en la tierra</p>
                </div>
                <div class="img-container">
                    <img src="/img/aguas-superficiales.jpg" class="img-info" alt="">
                    <p>Aguas superficiales de la tierra</p>
                </div>
                
            </aside>
            <div class="footer">
            <div class="social">
            <a href="https://www.instagram.com/santiellena13/" class="icon-instagrem iconI"></a>
        </div>
        <p class="copy">&copy; Ellena Santiago 2021</p>
        </div>

</body>
</html>