<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/earth.css">
</head>
<body>
      <header class="title">
            <h1>La Tierra</h1>
        </header>
        <div class="container">
            <header class="header">
                <h2>Atmósfera</h2>
            </header>
            <main class="content">
                <article class="article">
                    <h3>Definición</h3>
                    <p>
                        La atmósfera terrestre es la parte gaseosa de la Tierra, siendo por esto la capa más externa y menos densa del planeta. Está constituida por varios gases que varían en cantidad según la presión a diversas alturas. Esta mezcla de gases que forma la atmósfera recibe genéricamente el nombre de aire. El 75 % de masa atmosférica se encuentra en los primeros 11 km de altura, desde la superficie del mar.
                    </p>
                </article> 
                <article class="article">
                    <h3>Importancia</h3>
                    <p>
                        La atmósfera protege la vida sobre la Tierra, absorbiendo gran parte de la radiación solar ultravioleta en la capa de ozono. Además, actúa como escudo protector contra los meteoritos, los cuales se desintegran en polvo a causa de la fricción que sufren al hacer contacto con el aire.
                    </p>
                </article>
                <article class="article">
                    <h3>Composición</h3>
                    <p>
                        En la atmósfera terrestre se pueden distinguir dos regiones con distinta composición, la homosfera y la heterosfera.
                    </p>
                    <ul class="ul-item">
                        <li class="li-item"><span>Homosfera:</span> <p>La homosfera ocupa los 100 km inferiores y tiene una composición constante y uniforme.</p></li>
                        <li class="li-item"><span>Heterosfera:</span><p>La heterosfera se extiende desde los 80 km hasta el límite superior de la atmósfera (unos 10.000 km); está estratificada, es decir, formada por diversas capas con composición diferente.
                        </p></li>                      
                    </ul>
                </article>
                <article class="article">
                    <h3>Capas de la atmosfera terrestre</h3>
                    <p>Troposfera</p>
                    <ul class="ul-item">
                        <li class="li-item"><p>Su espesor alcanza desde la superficie terrestre (tanto terrestre como acuática o marina) hasta una altitud variable entre los 6 km en las zonas polares y los 18 o 20 km en la zona intertropical.</p></li>
                        <li class="li-item"><p>A medida que se sube, disminuye la temperatura en la troposfera, salvo algunos casos de inversión térmica que siempre se deben a causas locales o regionalmente determinadas.</p></li>
                    </ul>
                    <p>Estratosfera</p>
                    <ul class="ul-item">
                        <li class="li-item"><p>Su nombre obedece a que está dispuesta en capas más o menos horizontales (o estratos). Se extiende entre los 9 o 18 km hasta los 50 km de altitud. La estratosfera es la segunda capa de la atmósfera de la Tierra. A medida que se sube, la temperatura en la estratosfera aumenta.</p></li>
                    </ul>
                    <p>Ozonosfera</p>
                    <ul class="ul-item">
                        <li class="li-item"><p>Se denomina capa de ozono, u ozonosfera, a la zona de la estratosfera terrestre que contiene una concentración relativamente alta de ozono. Esta capa, que se extiende aproximadamente de los 15 km a los 40 km de altitud, reúne el 90 % del ozono presente en la atmósfera y absorbe del 97 % al 99 % de la radiación ultravioleta de alta frecuencia.</p></li>
                    </ul>
                    <p>Mesosfera</p>
                    <ul class="ul-item">
                        <li class="li-item"><p>Es la tercera capa de la atmósfera de la Tierra. Se extiende entre los 50 y 80 km de altura, contiene solo el 0.1 % de la masa total del aire. Es la zona más fría de la atmósfera</p></li>
                    </ul>
                    <p>Termosfera</p>
                    <ul class="ul-item">
                        <li class="li-item"><p>En la termosfera (de 69/90 a los 600/800 km), la temperatura aumenta con la altitud, de ahí su nombre. Coincide prácticamente con la región llamada ionosfera. Es la cuarta capa de la atmósfera de la Tierra. </p></li>
                    </ul>
                    <p>Exosfera</p>
                    <ul class="ul-item">
                        <li class="li-item"><p>La última capa de la atmósfera de la Tierra es la exosfera. Esta es el área donde los átomos se escapan hacia el espacio. Como su nombre indica, es la región atmosférica más distante de la superficie terrestre. Es la zona de tránsito entre la atmósfera terrestre y el espacio interplanetario.</p></li>
                    </ul>
                </article>
            </main>

            <aside class="sidebar">
                <div class="img-container">
                    <img src="/img/atmosphere.svg" class="img-info" alt="">
                    <p>Atmósfera</p>
                </div>
            </aside>
            <div class="footer">
            <div class="social">
            <a href="https://www.instagram.com/santiellena13/" class="icon-instagrem iconI"></a>
        </div>
        <p class="copy">&copy; Ellena Santiago 2021</p>
        </div>

</body>
</html>